# === Build Artifacts ===
vismux
vismux_destination
vismux_discover
vismux_source
build/
*.o
*.so
*.a

# === System & Editor Files ===
.DS_Store
Thmubs.db
*~
*.swp
*.swo

# === Diagnostic & Test Outputs ===
*.log
vgcore.*
